<div class="container-fluid">

  <div class="row">
    <div class="col-md-8">
      <p><%= @snip.description %></p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @snip.name %></h3>
        </div><!--panel-heading-->
        <div class="panel-body">
          <% if @snip.language.lang == "text" %>
            <%= simple_format h(@snip.content) %>
          <% else %>
            <%= CodeRay.scan(@snip.content, @snip.language.lang.to_sym).div(:line_numbers => :table).html_safe %>
          <% end %>
        </div><!--panel-body-->
      </div><!-- panel-primary-->
    </div><!-- col-md8-->
  </div>

  <div class="row">
    <div class="col-md-8">
      <% if @snip.user == current_user %>
        <%= button_to "Edit", edit_snip_path(@snip), class: "btn btn-default", method: :get %>
      <% end %>
    </div>
  </div>

  <div class="row copy-clipboard">
    <div class="col-md-3">
      <div class='input-group'>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-clipboard-target='fe_text'
           data-clipboard-text='Default clipboard text from attribute' id='d_clip_button'>
            <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
          </button>
        </span>

        <input type="text" class="form-control" id='fe_text' readonly="readonly" value = "<%= snip_url(@snip) %>" >
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
    $(document).ready(function() {
      var clip = new ZeroClipboard($("#d_clip_button"))
    });
  });


</script>

  <div class ="row new-comment-form">
    <div class="col-md-8">
      <%= simple_form_for [@snip, @comment] do |f| %>
        <%= f.input :comment, placeholder: "Comment" %>
        <%= f.button :submit, t("comments.new.post") %>
      <% end %>
    </div>
  </div>



  <div class ="row">
    <div class="col-md-8">
      <%= render collection: @comments, partial: "comments/comment" %>
    </div>
  </div>
</div>
