<div class="container-fluid">

  <div class="row">
    <div class="col-md-8">
      <p><%= @snip.description %></p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @snip.name %></h3>
        </div><!--panel-heading-->
        <div class="panel-body">
          <% if @snip.language.lang == "text" %>
            <%= simple_format h(@snip.content) %>
          <% else %>
            <%= CodeRay.scan(@snip.content, @snip.language.lang.to_sym).div(:line_numbers => :table).html_safe %>
          <% end %>
        </div><!--panel-body-->
      </div><!-- panel-primary-->
    </div><!-- col-md8-->
  </div>

  <% if @snip.user == current_user %>
    <%= button_to "Edit", edit_snip_path(@snip), class: "btn btn-default", method: :get %>
  <% end %>

  <div class='demo-area'>
  <button class='my_clip_button' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
    <b>Copy To Clipboard...</b>
  </button>
  <h4>
    <label for='fe_text'>Change Copy Text Here</label>
  </h4>
  <textarea cols='50' id='fe_text' rows='3'>Copy me!</textarea>
  <h4>
    <label for='testarea'>Paste Text Here</label>
  </h4>
  <textarea cols='50' id='testarea' rows='3'></textarea>
  <p>
    <button id='clear-test'>Clear Test Area</button>
  </p>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
    $(document).ready(function() {
      var clip = new ZeroClipboard($("#d_clip_button"))
    });

    $("#clear-test").on("click", function(){
      $("#fe_text").val("Copy me!");
      $("#testarea").val("");
    });
  });


</script>

  <div class ="row new-comment-form">
    <div class="col-md-8">
      <%= simple_form_for [@snip, @comment] do |f| %>
        <%= f.input :comment, placeholder: "Comment" %>
        <%= f.button :submit, t("comments.new.post") %>
      <% end %>
    </div>
  </div>



  <div class ="row">
    <div class="col-md-8">
      <%= render collection: @comments, partial: "comments/comment" %>
    </div>
  </div>
</div>
